
  
    <div class="container">
    <table class="responsive-table">
    <caption>Top 1 Simulador Variable</caption>
    <thead>
      <tr>
        <th scope="col">Indicador</th>
        <th scope="col">Peso</th>
        <th scope="col">0</th>
        <th scope="col">30</th>
        <th scope="col">50</th>
        <th scope="col">60</th>
        <th scope="col">80</th>
        <th scope="col">100</th>
        <th scope="col">120</th>
        <th scope="col">150</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="7">Datos simulados</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th scope="row">Indicador calidad</th>
        <td>30</td>        
               
      </tr>
      <tr>
        <th scope="row">% Insatisfechos</th>
        <td>20</td>  
      </tr>
      <tr>
        <th scope="row">NDA</th>
        <td>15</td> 
        
      </tr>
      <tr>
        <th scope="row">NDS</th>
        <td>10</td> 
      </tr>
      <tr>
        <th scope="row">FCR</th>
        <td>15</td> 
      </tr>
      <tr>
        <th scope="row">% AV/Boletines espejos</th>
        <td>10</td> 
      </tr>
      
    </tbody>
  </table>
</div>
  
