<h1 class="cab1">Bienvenido a <%= title %></h1>
<br>
<pre><p>
El portal donde podrá realizar <span class="remarcada">simulaciones de variables</span>
</p></pre>
<br><br>
<div>
<a href="/variables">
    <button>
    <span></span>
 Empezar!</button>
</a>
<div>



