<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CAT MOVISTAR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tablas.css' />
  </head>
  <body>
    
      <header class="cabecera">
         <nav class="nav">            
            <ul>                             
               <li class="titulo"><a href="../"  id="inicio">Home</a></li>
               <li class="titulo"><a href="https://docs.google.com/document/d/1bMwjLAGowcW7pU5SInRA9dl2UqG3RA38pBHaS3JIguM/pub"  id="db">Contrato</a></li>
               <li class="titulo"><a href="/db"  id="db">DB</a></li>
            </ul>
        </nav> 
      </header>
     
      <section > 
        <div><%- body %></div> 
      </section>
      
  


    
  </body>
</html>
