<form class="contact_form" method="post" action="/calcular" > 

<table class="responsive-table">

    <caption>Top 2 Simulador Variable EE.CC</caption>
    <thead>
      <tr>
        <th colspan=1>Abril</th>
        <th colspan=1">Mayo</th>
        <th colspan=1">Junio</th>
         </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="7">Datos reales</td>
      </tr>
    </tfoot>

    <tbody>
    <tr>
    <td>
       <ul>
       <li>
        <label for="eecc">ATENTO:</label>
        <span class="required_notification">* Campos obligatorios</span>
        </li>
        <li>
		<label for="calidad">Calidad:</label>
		<input class="ejemplo" type="text" id="calidad" name="calidad" value="8.68" />
		<span class="form_hint">Formato separador decimal use el punto .</span>
		</li>
		<li>
		<label for="insatisfechos">Insatisfechos:</label>
		<input class="ejemplo" type="text" id="insatisfechos" name="insatisfechos" value="3.27" />
		<span class="form_hint">Formato separador decimal use el punto .</span>
		</li>
		<li>
		<label for="NDA">NDA:</label>
		<input class="ejemplo" type="text" id="NDA" name="NDA" value="89.75" /></li>
		<li>
		<label for="NDS">NDS:</label>
		<input class="ejemplo" type="text" id="NDS" name="NDS" value="76.41" /></li>
		<li><label for="FCR">FCR:</label>
		<input class="ejemplo" type="text" id="FCR" name="FCR" value="76" /></li>
		<li><label for="AV">AV:</label>
		<input class="ejemplo" type="text" id="AV" name="AV" value="20" /></li>
      </ul>
     </td>
     <td>
       <ul>
       <li>
        <label for="eecc">ATENTO:</label>
        <span class="required_notification">* Campos obligatorios</span>
        </li>
        <li>
		<label for="calidadM">Calidad:</label>
		<input class="ejemplo" type="text" id="calidadM" name="calidadM" value="8.72" />
		<span class="form_hint">Formato separador decimal use el punto .</span>
		</li>
		<li>
		<label for="insatisfechosM">Insatisfechos:</label>
		<input class="ejemplo" type="text" id="insatisfechosM" name="insatisfechosM" value="2.96" />
		<span class="form_hint">Formato separador decimal use el punto .</span>
		</li>
		<li>
		<label for="NDAM">NDA:</label>
		<input class="ejemplo" type="text" id="NDAM" name="NDAM" value="95.64" /></li>
		<li>
		<label for="NDSM">NDS:</label>
		<input class="ejemplo" type="text" id="NDSM" name="NDSM" value="87.15" /></li>
		<li><label for="FCRM">FCR:</label>
		<input class="ejemplo" type="text" id="FCRM" name="FCRM" value="76" /></li>
		<li><label for="AVM">AV:</label>
		<input class="ejemplo" type="text" id="AVM" name="AVM" value="20" /></li>
      </ul>
     </td>
    <td>
       <ul>
       <li>
        <label for="eecc">ATENTO:</label>
        <span class="required_notification">* Campos obligatorios</span>
        </li>
        <li>
		<label for="calidadJN">Calidad:</label>
		<input class="ejemplo" type="text" id="calidadJN" name="calidadJN" value="8.57" />
		<span class="form_hint">Formato separador decimal use el punto .</span>
		</li>
		<li>
		<label for="insatisfechosJN">Insatisfechos:</label>
		<input class="ejemplo" type="text" id="insatisfechosJN" name="insatisfechosJN" value="4.77" />
		<span class="form_hint">Formato separador decimal use el punto .</span>
		</li>
		<li>
		<label for="NDAJN">NDA:</label>
		<input class="ejemplo" type="text" id="NDAJN" name="NDAJN" value="86.55" /></li>
		<li>
		<label for="NDSJN">NDS:</label>
		<input class="ejemplo" type="text" id="NDSJN" name="NDSJN" value="64.72" /></li>
		<li><label for="FCRJN">FCR:</label>
		<input class="ejemplo" type="text" id="FCRJN" name="FCRJN" value="76.35" /></li>
		<li><label for="AVJN">AV:</label>
		<input class="ejemplo" type="text" id="AVJN" name="AVJN" value="18.95" /></li>
      </ul>
     </td>
     
     
    
         </tr>
    
	</tbody>
			
 </table>
 
 <button class="submit" type="submit">Calcular variable</button>

</form>		
<br>
<p>
	<a href="/variables">Volver</a>
</p>
 


	
