<div class="container">
<form  method="post" action="/calcular" > 
<table class="responsive-table">
    <caption>Top 3 Simulador Variable EE.CC</caption>
    <thead>
      <tr>
        <th colspan=2>Julio</th>
        <th colspan=2">Agosto</th>
        <th colspan=2">Septiembre</th>
         </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="7">Datos simulados</td>
      </tr>
    </tfoot>
    <tbody>
    <tr>
    <td>
        <label for="eecc">ATENTO:</label> </br> 
		<label for="calidad">Calidad:</label>
		<input type="text" id="calidad" name="calidad" value="8.57" value= />
		</br>
		<label for="insatisfechos">Insatisfechos:</label>
		<input type="text" id="insatisfechos" name="insatisfechos" value="4.77" /></br>
		<label for="NDA">NDA:</label>
		<input type="text" id="NDA" name="NDA" value="90" /></br>
		<label for="NDS">NDS:</label>
		<input type="text" id="NDS" name="NDS" value="80" /></br>
		<label for="FCR">FCR:</label>
		<input type="text" id="FCR" name="FCR" value="76" /></br>
		<label for="AV">AV:</label>
		<input type="text" id="AV" name="AV" value="20" /></br>

     </td>
     <td>
        <label for="eecc">INELCOM:</label> </br> 
		<label for="calidadI">Calidad:</label>
		<input type="text" id="calidadI" name="calidadI" value="8.55" value= />
		</br>
		<label for="insatisfechosI">Insatisfechos:</label>
		<input type="text" id="insatisfechosI" name="insatisfechosI" value="4.5" /></br>
		<label for="NDAI">NDA:</label>
		<input type="text" id="NDAI" name="NDAI" value="87,47" /></br>
		<label for="NDSI">NDS:</label>
		<input type="text" id="NDSI" name="NDSI" value="63" /></br>
		<label for="FCRI">FCR:</label>
		<input type="text" id="FCRI" name="FCRI" value="83" /></br>
		<label for="AVI">AV:</label>
		<input type="text" id="AVI" name="AVI" value="7" /></br>

	    
		
     </td>
     </tr>
	</tbody>		
 </table>
 <a href="/variables"><button type="button">Cancelar</button></a>
 <input name="eecc" type="submit" value="Lanzar" />
</form>		
</div>

 
<p>
	<a href="/variables">Volver</a>
</p>

	
