<form  method="post" action="/calcular" >   
		<label for="calidad">Calidad:</label>
		<input type="text" id="calidad" name="calidad" value="8.58" value= />
		</br>
		<label for="insatisfechos">Insatisfechos:</label>
		<input type="text" id="insatisfechos" name="insatisfechos" value="4.63" /></br>
		<label for="NDA">NDA:</label>
		<input type="text" id="NDA" name="NDA" value="90" /></br>
		<label for="NDS">NDS:</label>
		<input type="text" id="NDS" name="NDS" value="80" /></br>
		<label for="FCR">FCR:</label>
		<input type="text" id="FCR" name="FCR" value="76" /></br>
		<label for="AV">AV:</label>
		<input type="text" id="AV" name="AV" value="20" /></br>

	    <a href="/variables"><button type="button">Cancelar</button></a>
		<input name="eecc" type="submit" value="Lanzar" />
		</form>	 
<p>
	<a href="/variables">Volver</a>
</p>

	
